html, body {
background: #efece9!important;

}

.navbar {
background: #1c6b82 !important;
color:#fafafa;
}

.navbar a, li, ul{
color:#fafafa;
}

.main-content {
min-height: 100%;
padding-bottom: 30px;
}

.sidebar{
background: #1c6b82;
padding-top:30px;
padding-bottom:55px;
margin-bottom: 15px;
}
.box {
background:#CDD11A;

}
.box a {
color:#fafafa;
font-size:16px;
font-weight: bold;
text-align: center;
text-decoration: none;
}

.navbar-inverse .navbar-brand {
    color: #fafafa;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fafafa;
}

.search {
padding:7px;
float:right;
}

.footer {
max-width: 100%;
    background: black;
    height: auto;
    position: relative;
    margin-top: 30px;
    padding: 25px;
}

.social {
padding: 10px;
}